.charts {
  width: 100%;
  padding: 1.25rem;

  > div {
    width: 98%;
    padding: 1%;
    margin: 2% 5%;
    border-radius: 0.125rem;
    background: $primaryWhite;
    box-shadow: 0rem 0rem 0.9375rem -0.625rem rgba(0, 0, 0, 0.75);

    @include breakpoint-up(medium) {
      flex: 1 0 48%;
      max-width: 48%;
      margin: 1%;

      &:last-child {
        margin-right: 51%;
      }
    }
    @include breakpoint-up(large) {
      flex: 1 0 30%;
      max-width: 30%;
      margin-left: 1%;
      margin-top: -2.5rem;

      &:last-child {
        margin-right: 1%;
      }
    }
  }
}
