#main_entry {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-height: 30vh;
  background-image: radial-gradient($electricPurple, $electricViolet, $primaryBlue);
  z-index: 2;

  .input {
    input {
      height: 40px;
      width: 200px;
      text-align: center;
      border: 2px solid $magentaProcess;
      border-radius: 20px;
      background: transparent;
      &::placeholder {
        color: $primaryWhite;
      }
      &:active,
      &:focus {
        outline: none;
        border-radius: 20px;
      }
    }

    .button {
      width: 100px;
      margin-left: 0.5rem;
      font-size: 1rem;
      color: $primaryWhite;
      border: none;
      border-radius: 20px;
      background: $magentaProcess;
      cursor: pointer;
      box-shadow: 0px 0px 24px -9px rgba(0, 0, 0, 0.75);
      transition: opacity 200ms ease-in-out;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}
