#main_entry {
  position: fixed;
  width: 45%;
  height: 20vh;
  top: 40%;
  left: 25%;
  right: 25%;
  bottom: 0;
  border-radius: 0.5rem;
  background: $primaryGray;
  box-shadow: 0rem 0rem 1.5rem -0.625rem rgba(0, 0, 0, 0.75);
  z-index: 2;
  transition: all 300ms ease-in-out;

  @include breakpoint-down(medium) {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;

    &.closed {
      opacity: 0;
      margin: 0;
      animation: fade-out 500ms linear forwards;
    }
  }

  @include breakpoint-up(medium) {
    &.closed {
      margin-top: -60vh;
    }
  }

  .input {
    input {
      height: 2.5rem;
      width: 13.5rem;
      text-align: center;
      border: 0.125rem solid $magentaProcess;
      border-radius: 1.25rem;
      background: transparent;
      transition: all 300ms ease-in-out;

      &:focus {
        border: 0.125rem solid $primaryBlue;

        &::placeholder {
          color: $primaryBlue;
        }
      }

      &::placeholder {
        color: $magentaProcess;
        opacity: 0.5;
      }
    }

    .button {
      width: 6.25rem;
      margin-left: 0.5rem;
      font-size: 1rem;
      color: $primaryWhite;
      border: none;
      border-radius: 1.25rem;
      background: $magentaProcess;
      cursor: pointer;
      box-shadow: 0rem 0rem 1.5rem -0.625rem rgba(0, 0, 0, 0.75);
      transition: all 200ms ease-in-out;

      &:hover {
        opacity: 0.8;
        background: $primaryBlue;
      }
    }
  }

  .close-icon {
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    .fa {
      color: $fashionFuschia;
    }
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
