$primaryBlue: hsl(251, 100, 48); //rgb(45,0,247)
$electricIndigo: hsl(266, 100, 48); //rgb(106,0,244)
$electricViolet: hsl(274, 100, 47); //rgb(137,0,242)
$electricPurple: hsl(291, 100, 43); //rgb(188,0,221)
$fashionFuschia: hsl(317, 100, 47); //rgb(229,0,164)
$magentaProcess: hsl(326, 100, 47); //rgb(242,0,137)
$primaryWhite: hsl(0, 0, 100); //rgb(255,255,255)

// Fonts size
$font-md: 1.125rem;
$font-sm: 0.875rem;
